<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <title>About Hugh</title>
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/" class="home-link"> Hugh </a>
      </div>
      <div>
        <a href="/work">Work</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <h1>General About</h1>
    <section aria-label="Hugh Laurie About">
      <h2>Overview</h2>
      <p>
        James Hugh Calum Laurie CBE is an English actor, author, comedian,
        director, musician and singer. He is known for portraying Dr. Gregory
        House on the Fox medical drama television series House (2004–2012), for
        which he received two Golden Globe Awards and many other accolades.
        He was listed in the 2011 Guinness World Records as the most watched
        leading man on television and was one of the highest-paid actors in a
        television drama, earning £250,000 ($409,000) per episode of
        House. His other television credits include arms dealer Richard
        Onslow Roper in the miniseries The Night Manager (2016), for which he
        won his third Golden Globe Award, and Senator Tom James in the HBO
        sitcom Veep (2012–2019), for which he received his 10th Emmy Award
        nomination.
      </p>
      <section aria-label="carrer"></section>
      <h2>Carrer</h2>
      <section aria-label="acting">
        <h3>Acting</h3>
        <p>
          Laurie in 2005 Forced to abandon rowing during a bout of glandular
          fever, Laurie joined the Cambridge Footlights, a university
          dramatic club that has produced many well-known actors and comedians.
          There he met Emma Thompson, with whom he had a romantic relationship;
          the two remain good friends. She introduced him to his future
          comedy partner, Stephen Fry. Laurie, Fry and Thompson later parodied
          themselves as the University Challenge representatives of "Footlights
          College, Oxbridge" in "Bambi", an episode of The Young Ones, with the
          series' co-writer Ben Elton completing their team. In 1980–81, his
          final year at university, besides rowing, Laurie was president of the
          Footlights, with Thompson as vice-president. They took their annual
          revue, The Cellar Tapes, to the Edinburgh Fringe Festival and won the
          first Perrier Comedy Award. The revue was written principally by
          Laurie and Fry, and the cast also included Thompson, Tony Slattery,
          Paul Shearer and Penny Dwyer. The Perrier Award led to a West End
          transfer for The Cellar Tapes and a television version of the revue,
          broadcast in May 1982. It resulted in Laurie, Fry and Thompson being
          selected, along with Ben Elton, Robbie Coltrane and Siobhan Redmond to
          write and appear in a new sketch comedy show for Granada Television,
          Alfresco, which ran for two series. Fry and Laurie worked together on
          various projects throughout the 1980s and 1990s. Among them were the
          Blackadder series, written by Ben Elton and Richard Curtis, starring
          Rowan Atkinson, with Laurie in various roles, including Prince George
          and Lieutenant George. Other projects followed, of which one was
          their BBC sketch comedy series A Bit of Fry & Laurie; another project
          was Jeeves and Wooster, an adaptation of P. G. Wodehouse's stories,
          in which Laurie played Jeeves's employer, the amiable twit Bertie
          Wooster. He and Fry participated in charity stage events, such as
          Hysteria! 1, 2 & 3 and Amnesty International's The Secret Policeman's
          Third Ball, Comic Relief TV shows and the variety show Fry and Laurie
          Host a Christmas Night with the Stars. They collaborated again on the
          film Peter's Friends (1992) and came together for a retrospective show
          in 2010 titled Fry and Laurie Reunited. Laurie starred in the Thames
          Television film Letters from a Bomber Pilot (1985) directed by David
          Hodgson. This was a serious acting role, the film being dramatised
          from the letters home of Pilot Officer J.R.A. "Bob" Hodgson, a pilot
          in RAF Bomber Command, who was killed in action in 1943. Laurie
          appeared in the music videos for the 1986 single "Experiment IV" by
          Kate Bush, and the 1992 Annie Lennox single "Walking on Broken Glass"
          in British Regency period costume alongside John Malkovich. Laurie
          appeared in the Spice Girls' film Spice World (1997) and had a brief
          guest-starring role on Friends in "The One with Ross's Wedding"
          (1998). Laurie's later film appearances include Sense and Sensibility
          (1995), adapted by and starring Emma Thompson; the Disney live-action
          film 101 Dalmatians (1996), where he played Jasper, one of the
          bumbling criminals hired to kidnap the puppies; Elton's adaptation of
          his novel Inconceivable, Maybe Baby (2000); Girl from Rio; the 2004
          adaptation of The Flight of the Phoenix, and Stuart Little. Since
          2002, Laurie has appeared in a range of British television dramas,
          guest-starring that year in two episodes of the first season of the
          spy thriller series Spooks on BBC One. In 2003, he starred in and also
          directed ITV's comedy-drama series fortysomething (in one episode of
          which Stephen Fry appears). In 2001, he voiced the character of a bar
          patron in the Family Guy episode "One If by Clam, Two If by Sea".
          Laurie voiced the character of Mr. Wolf in the cartoon Preston Pig. He
          was a panellist on the first episode of QI, alongside Fry as host. In
          2004, Laurie guest-starred as a professor in charge of a space probe
          called Beagle, on The Lenny Henry Show. Laurie with House, MD
          executive producers Katie Jacobs and David Shore in 2009 Between 2004
          and 2012, Laurie starred as an acerbic physician specialising in
          diagnostic medicine, Dr. Gregory House, in the Fox medical drama
          House. For his portrayal, he assumed an American accent. He was in
          Namibia filming Flight of the Phoenix and recorded his audition tape
          for the show in the bathroom of the hotel, as it was the only place he
          could get enough light. Jacob Vargas operated the camera for the
          audition tape. Laurie's American accent was so convincing that
          executive producer Bryan Singer, who was unaware at the time that
          Laurie was British, pointed to him as an example of just the kind of
          "compelling American actor" he had been looking for. Laurie also
          adopted the accent between takes on the set of House, as well as
          during script read-throughs, although he used his native accent when
          directing the episode "Lockdown". He also served as director for
          the episode "The C-Word". Laurie was nominated for an Emmy
          Award for his role in House in 2005. Although he did not win, he
          did receive a Golden Globe in both 2006 and 2007 for his work on the
          series and the Screen Actors Guild award in 2007 and 2009. Laurie was
          also awarded a large increase in salary, from what was rumoured to be
          a mid-range five-figure sum to $350,000 per episode. Laurie was not
          nominated for the 2006 Emmys, apparently to the outrage of Fox
          executives, but he still appeared in a scripted, pre-taped intro,
          where he parodied his House character by rapidly diagnosing host Conan
          O'Brien and then proceeded to grope him as the latter asked him for
          help to get to the Emmys on time. He would later go on to speak in
          French while presenting an Emmy with Dame Helen Mirren, and has since
          been nominated in 2007, 2008, 2009, 2010, and 2011. Laurie was
          initially cast as Perry White, the editor of the Daily Planet, in
          Singer's film Superman Returns but had to bow out of the project
          because of his commitment to House. In July 2006, Laurie appeared on
          Inside the Actors Studio, where he also performed one of his own comic
          songs, "Mystery", accompanying himself on the piano. He hosted
          NBC's Saturday Night Live, in which he appeared in drag in a sketch
          about a man (Kenan Thompson) with a broken leg who accuses his doctor
          of being dishonest. Laurie played the man's wife. Hugh Laurie at the
          59th Primetime Emmy Awards in September 2007 In August 2007, Laurie
          appeared on BBC Four's documentary Stephen Fry: 50 Not Out, filmed in
          celebration of Fry's 50th birthday. In 2008, he took part in
          Blackadder Rides Again and appeared as Captain James Biggs in Street
          Kings, opposite Keanu Reeves and Forest Whitaker, and then in 2009 as
          the eccentric Dr. Cockroach, PhD in DreamWorks' Monsters vs. Aliens.
          He also hosted Saturday Night Live for the second time on the
          Christmas show in which he sang a medley of three-second Christmas
          songs to close his monologue. In 2009, Laurie returned to guest star
          in another Family Guy episode, "Business Guy", parodying Gregory
          House. In 2010, Laurie guest starred in The Simpsons "Treehouse of
          Horror XXI" as Roger, a castaway who is planning a murder scheme on a
          ship during Homer and Marge's second honeymoon. On 8 February
          2012, Fox announced that season eight of House would be the last. On
          13 June 2012, the media announced that Laurie was in negotiations to
          play the villain in RoboCop, a remake of the original RoboCop
          film. These negotiations ultimately fell through and Laurie passed
          on the project. In 2012, Laurie starred in an independent feature
          called The Oranges that had a limited release. The New York Post felt
          that he was "less-than-ideally cast" in the role of a dad who has an
          affair with his neighbour's daughter, played by Leighton Meester.
          The Star-Ledger of Newark, New Jersey thought that he was
          "particularly good". After the end of House Laurie took a
          three-year hiatus from film and TV work. In 2015 he returned to TV
          work with a recurring role on Veep as Tom James, a role written
          specifically for him after showrunner Armando Iannucci heard he was a
          fan of the show. Laurie continued to recur on the show until the
          final season in 2019. The same year he played the villain David Nix in
          Brad Bird's 2015 film Tomorrowland. Laurie played Richard Onslow
          Roper in the BBC 1 mini-series The Night Manager. The series started
          filming in spring 2015 and aired first on the BBC. He was
          nominated for two Emmys for his work on the miniseries and won the
          Golden Globe Award for Best Supporting Actor – Series, Miniseries or
          Television Film. Laurie starred as Dr. Eldon Chance, a San
          Francisco-based forensic neuropsychiatrist in the Hulu thriller series
          Chance which lasted for two seasons from 2016 to 2017.] In 2018
          Laurie had a small role in the critically panned film Holmes & Watson.
          In 2019 Laurie appeared in Veep creator Armando Iannucci's film The
          Personal History of David Copperfield, an adaptation of the novel
          David Copperfield by Charles Dickens. That same year it was announced
          he would also work with Iannucci on the upcoming space comedy Avenue 5
          for HBO.
        </p>
      </section>
      <section aria-label="music">
        <h3>Music</h3>
        <p>
          Hugh Laurie playing with his jazz band at Belo Horizonte, Brazil in
          2014 Laurie took piano lessons from the age of six.] He sings and
          plays the piano, guitar, drums, harmonica, and saxophone. He has
          displayed his musical talents throughout his acting career, such as on
          A Bit of Fry & Laurie, Jeeves and Wooster, House and when he hosted
          Saturday Night Live in October 2006. He is a vocalist and keyboard
          player for the Los Angeles charity rock group Band From TV.
          Additionally, following Meat Loaf's appearance in the House episode
          "Simple Explanation", Laurie played piano as a special guest on the
          song "If I Can't Have You" from Meat Loaf's 2010 album Hang Cool Teddy
          Bear. Laurie co-wrote and performed the humorous blues song, "Sperm
          Test in the Morning", in the film Maybe Baby.] On House, Laurie
          played several classic rock 'n roll instruments including Gibson
          Flying V and Les Paul guitars. His character has a Hammond B-3 organ
          in his home and on one episode performed the introduction to Procol
          Harum's classic "Whiter Shade of Pale".] On 26 July 2010, it was
          announced that Laurie would be releasing a blues album after signing a
          contract with Warner Bros. Records.] The album, called Let Them
          Talk, was released in France on 18 April 2011 and in Germany on 29
          April. The album features collaborations from well-known artists such
          as Tom Jones, Irma Thomas and Dr. John. On 1 May 2011, Laurie and a
          jazz quintet closed the 2011 Cheltenham Jazz Festival to great
          acclaim.] He followed that up as the subject of the 15 May 2011
          episode of ITV's series Perspectives, explaining his love for the
          music of New Orleans and playing music, from his album Let Them Talk,
          at studios and live venues in the city itself.] He was the subject
          of PBS Great Performances Let them Talk, also about New Orleans jazz,
          first broadcast on 30 September 2011.] His second album, Didn't It
          Rain, was released in the UK on 6 May 2013.] In the same year he
          played at the RMS Queen Mary together with his band. This concert was
          filmed and later released as Live on the Queen Mary on DVD and
          Blu-ray.
        </p>
      </section>
      <section aria-label="writing">
        <h3>Writing</h3>
        <p>
          In 1996, Laurie's first novel, The Gun Seller, an intricate thriller
          laced with Wodehouseian humour, was published and became a
          best-seller. He has since been working on the screenplay for a film
          version. His second novel, The Paper Soldier, was scheduled for
          September 2009 but has yet to appear.
        </p>
      </section>
    </section>
  </body>
</html>
