<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/" class="home-link"> Hugh </a>
      </div>
      <div>
        <a href="/work">Work</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <h1 class="title">Hugh Laurie</h1>
    <div class="hero-img"></div>
  </body>
</html>
