<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/work.css" />
    <title>Work</title>
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/" class="home-link"> Hugh </a>
      </div>
      <div>
        <a href="/work">Work</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <section aria-label="Work by Photos">
      <h2>Work by Photos</h2>
      <section aria-label="tv series">
        <h3>TV Series</h3>
        <div class="tv-grid">
          <div class="card ">
            <div class="card-img house-card">
              <img src="/images/dr_house.jpg" />
            </div>
          </div>
          <div class="card ">
            <div class="card-img avenue5-card">
              <img src="/images/avenue5.jpg" />
            </div>
          </div>
          <div class="card">
            <div class="card-img stuart-little-card">
              <img src="/images/stuart-little.jpg" />
            </div>
          </div>
          <div class="card">
            <div class="card-img veep-card">
              <img src="/images/veep.jpg" />
            </div>
          </div>
          <div class="card">
            <div class="card-img chance-card">
              <img src="/images/chance.jpg" />
            </div>
          </div>
        </div>
      </section>
      <section aria-label="movies">
        <h3>Movies</h3>
        <div class="movie-grid"></div>
      </section>
    </section>
  </body>
</html>
